<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="demobank-nextjs-jss-ssg"
             deploymentSecret="eg0qd1fs7kwsbf76382rkyjrg4zb0j0hejrlwgr6ios"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
