<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>     
      <httpRequestBegin>
        <processor type="DemoBank.Foundation.SitecoreExtensions.Platform.Pipelines.AccessControlHeaders, DemoBank.Foundation.SitecoreExtensions.Platform" patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']"/>
      </httpRequestBegin>
      <mvc.requestBegin>
        <processor type="DemoBank.Foundation.SitecoreExtensions.Platform.Pipelines.CustomContextItemResolver, DemoBank.Foundation.SitecoreExtensions.Platform"
                   patch:instead="processor[@type='Sitecore.LayoutService.Mvc.Pipelines.RequestBegin.ContextItemResolver, Sitecore.LayoutService.Mvc']"
                   resolve="true" />
      </mvc.requestBegin>
    </pipelines>

    <settings>
      <setting name="DemoBank.404PageName" value="/404" />
    </settings>
  </sitecore>
</configuration>