@using DemoBank.Feature.Card.Rendering.Models
@model CardModel

<div class="container px-4 px-lg-5">
    <div class="small text-center text-muted">
        <sc-text asp-for="@Model.CardTitle"></sc-text>
    </div>
</div>