@using DemoBank.Feature.Card.Rendering.Models
@model CardModel

<section class="page-section bg-primary">

    <div class="p-5 mb-4 bg-light rounded-3 ">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold">
                <sc-text asp-for="@Model.CardTitle"></sc-text>
            </h1>
            <hr class="divider divider-light" />
            <p class="fs-4 text-center">
                <sc-text asp-for="@Model.CardDescription"></sc-text>
            </p>
            <sc-link class="btn btn-primary btn-xl" asp-for="@Model.CardLink"></sc-link>
        </div>
    </div>

</section>